<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings> <!-- Uygulamanın genel ayarlarını tuttuğumuz bölüm -->

		<!-- Veri çekeceğimiz API adresi -->
		<add key="ApiUrl" value="https://fakestoreapi.com/products"/>

		<!-- Log dosyalarının ve ileride oluşturacağımız Excel'in kaydedileceği ana klasör yolu.-->
		<add key="LogFolderPath" value="C:\TedarikciRadari\Logs\"/>

		<!-- Kritik stok sınırı. FakeStore API'deki "rating.count" değerini stok kabul ettiğimiz için 
         sınırı 150 yapalım ki Excel'e yazacak kayıt bulabilelim. -->
		<add key="CriticalStockThereshold" value="150"/>
	</appSettings>

	<connectionStrings> <!-- veritabanı bağlantı cümlesi-->
		<add name="DefaultConnection" connectionString="Server=Server Adı;Database=TEST;Trusted_Connection=True"/>
	</connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>